{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.10"
        }
      }
    ]
  ],
  "plugins": ["transform-runtime", "syntax-object-rest-spread"],
  "only": ["scripts/**", "src/**", "test/helpers/**"],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
